/build/
/bounce-render/build/
/bounce-gui/build/
/cmake/FindBounce.cmake
/tokens.txt

/dependencies/Alembic/
/dependencies/boost_1_76_0/
/dependencies/embree3/
/dependencies/GLAD/
/dependencies/GLEW/
/dependencies/GLFW/
/dependencies/Imath/
/dependencies/ImGui/
/dependencies/libjpeg-turbo/
/dependencies/libpng/
/dependencies/libtiff/
/dependencies/OpenEXR/
/dependencies/OpenImageIO/
/dependencies/pybind11/
/dependencies/Python/
/dependencies/TBB/
/dependencies/zlib/
/records/
/dependencies/USD/
